{% if block.settings.bannerTitle != blank %}
  {% capture cssTitle %}
      {% if block.settings.bannerTitleColor !=blank %}
          color: {{ block.settings.bannerTitleColor }};
      {% endif %}
      {% if block.settings.bannerTitleFontSize %}
          font-size: {{ block.settings.bannerTitleFontSize }}px;
      {% endif %}
      {% if block.settings.make_heading_uppercase %}
          text-transform: uppercase;
      {% endif %}
  {% endcapture %}
  
    <h3 class="custom-banner__heading" style="{{ cssTitle }}">
        {{ block.settings.bannerTitle }}
    </h3>
{% endif %} 