<div class="bingoCartTop">
	<a href="/cart" class="jsDrawerOpenRight">
		<i class="fa fa-shopping-bag"></i>
		<!-- <span class="title">{{ 'layout.cart.title' | t }} </span> -->
		<span class="title">My Cart </span>
		<span id="CartCount">{{ cart.item_count }}</span>
		{% comment %} <span>{{ 'layout.cart.items_count' | t: count: cart.item_count }}:</span> {% endcomment %}
		<!-- <span id="CartCost" style="font-size: 12px;color: #72a181;"> {{ cart.total_price | money }}</span> -->	
	</a>
</div>