{% assign pagewishlist = pages[settings.wishlist_page].url %}
{{ 'jquery.2.2.3.js' | asset_url | script_tag }}
<script>
    window.money = "{{shop.money_format}}";
	window.money_format = "{{shop.money_with_currency_format}}";
	window.shop_currency = "{{ shop.currency }}";
	window.loading_url = "{{ 'loading.gif' | asset_url}}";
	window.file_url = "{{''|file_url}}";
  	window.asset_url = "{{'bingo'|asset_url|remove:'bingo'}}";
  	window.ajaxcart_type = "{{ settings.ajax_cart_method }}";
  	window.swatch_enable = {{ settings.product_swatch_enable }};
  	window.wishlist_enable = {{ settings.wishlist_enable }};
  	window.wishlist_url = "{{ pagewishlist }}";
  	window.sidebar_multichoise = {{ settings.sidebar_filtercustag_multi }};
    window.float_header = {{ settings.header_float_enable }};
    window.review = {{ settings.product_reviews_enable }};
    window.countdown_format = "<div>%D<span>days</span></div><div>%H<span>hours</span></div><div>%M<span>mins</span></div><div>%S<span>secs</span></div>";
</script>

<!-- Hotjar Tracking Code for http://shopsophea.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:783458,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>