{% if settings.bingo_fontfamily_style == 'google_fonts' %}{{ settings.bingo_fontfamily_link }}{% endif %}
{% if settings.bingo_fontfamily_secondary_style == 'google_fonts' %}{{ settings.bingo_fontfamily2_link }}{% endif %}
{% if settings.bingo_fontfamily_tertiary_style == 'google_fonts' %}{{ settings.bingo_fontfamily3_link }}{% endif %}
{{ 'bingo-fonts.scss.css' | asset_url | stylesheet_tag }}
{{ 'bingo-site.scss.css' | asset_url | stylesheet_tag }}