<div id="loading" class="bingoHidden"></div>
{% if settings.loading_enable %}
    {% if template contains 'index' %}
        <div id="loadingSite">
            <div class="loader"></div>
        </div>
    {% endif %}
{% endif %}
<div id="newsletterAlert" class="bingoHidden modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="alert alert-success">
                <div class="newsletterAlert">{{ 'general.newsletter_form.alertsuccess' | t }}</div>
            </div>
        </div>
    </div>
</div>
{% if settings.quickview_enable %}
    {% assign count_images = product.images | size %}
    {% assign column_center = 'col-sm-12 col-md-12' %}
    <div id="bingoQuickView" class="bingoHidden">
        <div class="quickviewOverlay"></div>
        <div class="jsQuickview"></div>
        <div id="quickviewModal" class="bingoHidden quickviewProduct">
            <a title="Close" class="quickviewClose" href="javascript:void(0);"></a>
            <div class="proBoxPrimary row">
                <div class="proBoxImage col-xs-12 col-sm-12 col-md-5">
                    <div class="proFeaturedImage">
                        <a class="proImage" title="" href="#">
                            <img class="img-responsive proImageQuickview" src="{{ 'loading.gif' | asset_url }}" alt="Quickview"  />
                            <span class="loadingImage"></span>
                        </a>
                    </div>
                    <div class="proThumbnails proThumbnailsQuickview clearfix">
                        <div class="owl-thumblist">
                            <div class="owl-carousel">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="proBoxInfo col-xs-12 col-sm-12 col-md-7">
                    <h3 class="quickviewName">&nbsp;</h3>
                    <div class="proPrice clearfix">
                        <span class="priceProduct pricePrimary"></span>
                        <span class="priceProduct priceCompare"></span>
                    </div>
                    <div class="quickviewAvailability{% if settings.quickview_availability == false %} hidden{% endif %}">&nbsp;</div>
                    {% comment %} <h5 class="quickViewVendor{% if settings.quickview_vendor == false %} hidden{% endif %}">&nbsp;</h5> {% endcomment %}
                    <h5 class="quickViewType{% if settings.quickview_protype == false %} hidden{% endif %}">&nbsp;</h5>
                    <div class="proShortDescription rte"></div>

                    <div class="proBoxModalVariantContainer"></div>

                    <form action="/cart/add" method="post" enctype="multipart/form-data" class="formQuickview form-ajaxtocart">
                        <div class="proVariantsQuickview"><select name='id' style="display:none"></select></div>
                        <div class="proQuantity">
                            <label for="Quantity" class="qtySelector">{{ 'products.product.quantity' | t }}</label>
                            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="qtySelector">
                        </div>
                        <div class="proButton">
                            <button type="submit" name="add" class="btn btnAddToCart" style="width:100%;">
                                <span>{{ 'products.product.add_to_cart' | t }}</span>
                            </button>
                            {% include 'bingo-trustseals' %}
                        </div>
                    </form>
                </div>
            </div>
        </div>    
    </div>
{% endif %}
{% if settings.gotop_enable %}
    <div id="goToTop" class="{% if settings.gotopmobile_enable %}{% else %}hidden-xs{% endif %}"><span class="fa fa-long-arrow-up"></span></div>
{% endif %}
{% if settings.bingo_newslettermodal_enable %}
    {% if template contains 'index' %}
        <div id="bingoNewsletterModal" class="hidden">
            <div class="newsletterModal {{ settings.bingo_newslettermodal_type }}">
                <div class="bingoBlock bingoNewsletterModal {{ settings.bingo_newslettermodal_type }}">
                    <h3 class="bingoTitle">{{ settings.bingo_newslettermodal_titile }}</h3>
                    <div class="bingoContent">
                        {% if settings.bingo_newslettermodal_description != blank %}
                            <div class="newsletterDescription">{{ settings.bingo_newslettermodal_description }}</div>
                        {% endif %}
                        {% if settings.bingo_newslettermodal_mailchimp %}
                            {% assign form_action = settings.newsletter_formmodal_action %}
                            <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="formNewsletter clearfix">
                                <div class="form-group">
                                    <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="form-control" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
                                    <button id="subscribe" class="btn btnNewsletter" type="submit">
                                        <i class="pe-7s-paper-plane"></i>
                                        <span>{{ 'general.newsletter_form.submit' | t }}</span>
                                    </button>
                                </div>
                            </form>
                        {% else %}
                            {% form 'customer' %}
                                {% if form.posted_successfully? %}
                                <script type="text/javascript">
                                    $(document).ready(function() {
                                        var date = new Date();
                                        var minutes = {{ settings.bingo_newslettermodal_cookie }};
                                        var chkShowAgain = $('#chkNewsletterModal');
                                        date.setTime(date.getTime() + (minutes * 60 * 1000));
                                        //$('#newsletterAlert').modal();
                                        $('#bingoNewsletterModal').addClass('hidden');
                                        if(chkShowAgain.is(':checked')){
                                            $.cookie('newLetterModal', 'closed', {expires:dateCookie, path:'/'});
                                        }
                                    });
                                </script>
                                {% endif %}
                                <div class="form-group">
                                    <input class="form-control" id="newsletter-input" type="email" name="contact[email]" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}">
                                    <button class="btn btnNewsletter" type="submit">
                                        <span>{{ 'general.newsletter_form.submit' | t }}</span>
                                    </button>
                                    <input type="hidden" name="action" value="0">
                                </div>
                            {% endform %}
                        {% endif %}
                        <div class="checkbox">
                            <input id="chkNewsletterModal" name="show-again" type="checkbox"> {{ settings.bingo_newslettermodal_chk }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(window).load(function() {
                var dateCookie = new Date();
                var minutes = {{ settings.bingo_newslettermodal_cookie }};
                var chkShowAgain = $('#chkNewsletterModal');
                dateCookie.setTime(dateCookie.getTime() + (minutes * 60 * 1000));
                if ($.cookie('newLetterModal') != 'closed') {
                    $.fancybox.open({
                        padding: 0,
                        beforeLoad: function(){
                            $('#bingoNewsletterModal').removeClass('hidden');
                        },
                        href: '#bingoNewsletterModal',
                        helpers:  {
                            overlay : true
                        },
                        afterClose : function(){
                            $('#bingoNewsletterModal').addClass('hidden');
                            if(chkShowAgain.is(':checked')){
                                $.cookie('newLetterModal', 'closed', {expires:dateCookie, path:'/'});
                            }
                        }
                    });
                }
            });
        </script>
    {% endif %}
{% endif %}
{% if settings.bingo_panelconfig %}
    {%- assign blogName = settings.bingo_panelconfig_blog -%}
    {%- assign contactName = settings.bingo_panelconfig_contact -%}
    {%- assign aboutName = settings.bingo_panelconfig_about -%}
    {%- assign faqName = settings.bingo_panelconfig_faq -%}
    {% for product in collections.all.products %}
        {%- assign productSingle = product -%}
        {% break %}
    {% endfor %}
    <div id="bingoConfigSection" class="menuSectionConfig">
        <div class="menuSsWrap">
            <div class="btnConfigSection"><i class="fa fa-cog fa-spin"></i></div>
            <h2 class="menuSsHeading">bingo menu Section<span class="closeMenu"></span></h2>
            <div class="menuSsContent">
                <ul class="menuListPage list-unstyled">
                    <li class="menuItem">
                        <a href="/">Home Page (Index)</a>
                    </li>
                    <li class="menuItem">
                        <a href="/collections/all">Collection Page</a>
                    </li>
                    <li class="menuItem">
                        <a href="{{ productSingle.url }}">Product Page</a>
                    </li>
                    <li class="menuItem">
                        <a href="/cart">Cart Page</a>
                    </li>
                    <li class="menuItem">
                        <a href="{{ blogs[blogName].url }}">Blog Page</a>
                    </li>
                    <li class="menuItem">
                        <a href="{{ pages[contactName].url }}">Contact Page</a>
                    </li>
                    <li class="menuItem">
                        <a href="{{ pages[aboutName].url }}">About Page</a>
                    </li>
                    <li class="menuItem">
                        <a href="{{ pages[faqName].url }}">Faq Page</a>
                    </li>
                    <li class="menuItem">
                        <a href="/404page">404 Page</a>
                    </li>
                    <li class="menuItem">
                        <a href="/password">Password Page</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endif %}