{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="container">
        <div class="bingoAccountContainer">
            <div class="row">
                <div class="col-xs-12">
                    <div class="formAccount">
                        <h1 class="bingoAccountTitle">{{ 'customer.register.title' | t }}</h1>
                        {% form 'create_customer' %}
                            <div class="formContent">
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        {{ form.errors | default_errors }}
                                    </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="FirstName" class="">{{ 'customer.register.first_name' | t }}</label>
                                            <input type="text" name="customer[first_name]" id="FirstName" class="form-control" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
                                        </div>
                                        <div class="form-group">
                                            <label for="LastName" class="">{{ 'customer.register.last_name' | t }}</label>
                                            <input type="text" name="customer[last_name]" id="LastName" class="form-control" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group{% if form.errors contains 'email' %} has-error{% endif %}">
                                            <label for="Email" class="">{{ 'customer.register.email' | t }}</label>
                                            <input type="email" name="customer[email]" id="Email" class="form-control" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
                                        </div>
                                        <div class="form-group{% if form.errors contains 'password' %} has-error{% endif %}">
                                            <label for="CreatePassword" class="">{{ 'customer.register.password' | t }}</label>
                                            <input type="password" name="customer[password]" id="CreatePassword" class="form-control" placeholder="{{ 'customer.register.password' | t }}">
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 birthday-date-wrapper" style="margin:1.2em 0">
                                            <select class="birthday-date-month" style='padding: 6px 15px;height: 40px;color: #252525;background-color: #ebebeb;border: 1px solid #ebebeb;-webkit-box-shadow: none;box-shadow: none;' name="customer[note][birthday_month]">
                                                <option disabled selected>Month</option>
                                                <option value="January">January</option>
                                                <option value="February">February</option>
                                                <option value="March">March</option>
                                                <option value="April">April</option>
                                                <option value="May">May</option>
                                                <option value="June">June</option>
                                                <option value="July">July</option>
                                                <option value="August">August</option>
                                                <option value="September">September</option>
                                                <option value="October">October</option>
                                                <option value="November">November</option>
                                                <option value="December">December</option>
                                            </select>

                                            <select class="birthday-date-day" style='padding: 6px 15px;height: 40px;color: #252525;background-color: #ebebeb;border: 1px solid #ebebeb;-webkit-box-shadow: none;box-shadow: none;' id="" name="customer[note][birthday_day]">
                                                <option disabled selected>Day</option>
                                                {% for i in (1..31) %}
                                                    <option> {{ i }} </option>
                                                {% endfor %}
                                            </select>

                                            <label style="font-weight:noral;font-size:11px;padding-left:1em;font-style:italic;"><i class="fa fa-birthday-cake"></i> Your birthday <i style="color:#aaa;">(Optional)</i>  </label><br>
                                            <small style="font-szie:8px;color:#aaa;padding-top:.8em;padding-left:1.2em;display:block;font-family:MyanmarSangman,sans-serif;">* Don't miss out on occasion related discounts and awards.</small>
                                    </div>
                                    
                                </div>
                                
                                <div class="formRegisterButton">
                                    <div class="form-group">
                                        <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btnbingoOne">
                                    </div>
                                    <p><a class="bingoLinkCancel" href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a></p>
                                </div>
                            </div>
                        {% endform %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>