{%- assign intProColumns = section.settings.collection_product_columns | plus:0 -%}
{%- assign intProPaginate = section.settings.collection_product_page | plus:0 -%}
{%- assign strColumn = 12 | divided_by:intProColumns -%}

{%- if intProColumns == 5 -%}
    {% capture strGridItem %}col-sp-12 col-xs-6 col-md-2-4{% endcapture %}
{%- else -%}
    {% capture strGridItem %}col-sp-12 col-xs-6 col-md-{{ strColumn }}{% endcapture %}
{%- endif -%}
{%- unless collectionLayout -%}
	{%- assign collectionLayout = 'grid' -%}
{%- endunless -%}
{%- if section.settings.image_size != blank -%}
    {%- assign proImageSize = section.settings.image_size -%}
{%- else -%}
    {%- assign proImageSize = 'master' -%}
{%- endif -%}

{% if template != "collection.brands" %}
    <div class="collBoxTop">
        {% if section.settings.collection_image %}
            {% if collection.image %}
                <div class="collImage">
                    <a href="{{ collection.url }}">
                        <img class="img-responsive" alt="{{ collection.title }}" src="{{ collection.image | collection_img_url: 'master' }}" />
                    </a>
                </div>
            {% endif %}
        {% endif %}
        {% if collection.description != blank %}
            <div class="rte rteHeader">
                {{ collection.description }}
            </div>
        {% endif %}
    </div>
{% endif %}
    
{% paginate collections.frontpage.products by intProPaginate %}
    <div class="collBoxProducts">
      	{% if template == "collection.list" %}
            {% include 'bingo-collection-list' %}
        {% else %}
            {%- assign showReview = section.settings.display_reviews -%}
            {% include 'bingo-collection-grid' %}
            {%- assign showReview = true -%}
        {% endif %}
	</div>
    {% if paginate.pages > 1 %}
        <div id="collPagination">
            {% include 'bingo-pagination' %}
        </div>
    {% endif %}
{% endpaginate %}
{% schema %}
    {
        "name": "Bingo Collection Page",
        "settings": [
            {
                "type": "header",
                "content": "Settings"
            },
            {
                "type": "checkbox",
                "id": "collection_image",
                "label": "Use collection image?"
            },
            {
                "type": "checkbox",
                "id": "display_reviews",
                "label": "Show stars review"
            },
            {
                "type": "text",
                "id": "collection_product_columns",
                "label": "Number of products in a row",
                "placeholder": "Example: 4",
                "default": "4"
            },
            {
                "type": "text",
                "id": "collection_product_page",
                "label": "Number of products in a Page",
                "placeholder": "Example: 12",
                "default": "12"
            },
            {
                "type": "text",
                "id": "image_size",
                "label": "Product image size",
                "default": "270x340",
                "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
            }
        ]
    }
{% endschema %}