<header id="bingoHeader" class="bingoHeader{% if settings.header_mobile_float %} headerMobileFixed{% endif %}">
    <section class="headerWrap">
        <div id="bingoHeaderMain">
            <div class="container">
                <div class="headerContent">
                    <div class="row">
                        <div class="bingoHeaderLeft col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            {%- if template == 'index' -%}
                                <h1 class="bingoLogo" itemscope itemtype="http://schema.org/Organization">
                            {%- else -%}
                                <div class="bingoLogo" itemscope itemtype="http://schema.org/Organization">
                            {%- endif -%}
                            {%- if section.settings.logo -%}
                                <a href="/" itemprop="url" class="bingoLogoLink">
                                    {%- if section.settings.logo_image_size != blank -%}
                                        {%- assign image_size = section.settings.logo_image_size -%}
                                    {%- else -%}
                                        {%- assign image_size = 'master' -%}
                                    {%- endif -%}
                                    <img class="img-responsive" src="{{ section.settings.logo | img_url: image_size }}" 
                                        srcset="{{ section.settings.logo | img_url: image_size }}"
                                        alt="{{ section.settings.logo.alt | default: shop.name }}"
                                        itemprop="logo">
                                </a>
                            {%- else -%}
                                <a href="/" itemprop="url">{{ shop.name }}</a>
                            {%- endif -%}
                            {%- if template != 'index' -%}
                                </div>
                            {%- else -%}
                                </h1>
                            {%- endif -%}
                        </div>
                        <div style="padding-right:0;" class="bingoHeaderCenter col-xs-3 col-sm-3 col-md-7 col-lg-7">
                            <div class="bingoHeaderMenu">
                                {% include 'bingo-header-menu' %}
                            </div>
                        </div>
                        <div style="padding-left:0;" class="bingoHeaderRight col-xs-9 col-sm-6 col-md-3 col-lg-3">
                            {% include 'currency-picker' %}
                            {% include 'bingo-searchtop' %}
                            {% include 'bingo-toplinks' %}
                          	{% include 'bingo-carttop' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
{% schema %}
	{
      	"name": "Header",
		"max_blocks": 20,
      	"settings": [
            {
                "type": "header",
                "content": "Logo"
            },
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo image"
            },
            {
                "type": "text",
                "id": "logo_image_size",
                "label": "Image size",
				"info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
            },
			{
                "type": "header",
                "content": "Header Userinfo"
            },
            {
                "type": "text",
                "id": "topbar_toplinks_title",
                "placeholder": "Title for block",
                "label": "Block title"
            },
            {
                "type": "link_list",
                "id": "topbar_toplinks",
                "label": "Topbar menu"
            },
			{
                "type": "header",
                "content": "MENU TOP"
            },
			{
                "type": "checkbox",
                "id": "bingomenu_enable",
                "label": "Enable menu",
                "info": "Acitve bingo Menu"
            },
            {
                "type": "link_list",
                "id": "bingomenu_linklist",
                "label": "Menu",
                "default": "main-menu"
            },
            {
                "type": "text",
                "id": "bingomenu_menumobile_title",
                "label": "Menu mobile title",
                "placeholder": "Menu mobile title",
                "default": "Menu Mobile"
            }
        ],
		"blocks": [
            {
                "type": "text",
                "name": "Megamenu Item",
                "settings": [
					{
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "placeholder": "Title"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_item",
                        "label": "Menu item name",
                        "info": "Menu item of main-menu. Menu item has dropdown megamenu."
                    },

                    {
                        "type": "checkbox",
                        "id": "bingomenu_menu_banner_enable",
                        "label": "Enable menu with banner"
                    },

                    {
                        "type": "header",
                        "content": "Menu 1",
                        "info": "Position:1"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_html_title1",
                        "label": "Block title"
                    },
                    {
                        "type" : "link_list",
                        "id" : "megamenu_handle1",
                        "label" : "Menu"
                    },   

            {
                "type": "header",
                "content": "Megamenu with banner"
            },

                    {
                        "type": "header",
                        "content": "Block banner 1",
                        "info": "Position:2"
                    },
                    {
                        "type": "checkbox",
                        "id": "bingomenu_menu_text_enable_1",
                        "label": "Enable text on banner"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_menu_text_title_1",
                        "label": "Title of the product",
                        "placeholder": "Title of the product",
                        "default" : "Product title"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_menu_text_price_1",
                        "label": "Price of the product",
                        "placeholder": "Price of the product",
                        "default" : "$100"
                    },

                    {
                        "type": "checkbox",
                        "id": "bingomenu_menu_text_enable_2",
                        "label": "Enable text on banner"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_menu_text_title_2",
                        "label": "Title of the product",
                        "placeholder": "Title of the product",
                        "default" : "Product title"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_menu_text_price_2",
                        "label": "Price of the product",
                        "placeholder": "Price of the product",
                        "default" : "$100"
                    },

                    {
                        "type": "image_picker",
                        "id": "bingomenu_banner_1",
                        "label": "Banner image"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_banner_link_1",
                        "label": "Banner link"
                    },

                    {
                        "type": "image_picker",
                        "id": "bingomenu_banner_2",
                        "label": "Banner image"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_banner_link_2",
                        "label": "Banner link"
                    },



                    {
                        "type": "header",
                        "content": "Menu 2",
                        "info": "Position:3"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_html_title2",
                        "label": "Block title"
                    },
                    {
                        "type" : "link_list",
                        "id" : "megamenu_handle2",
                        "label" : "Menu"
                    },
                    {
                        "type": "header",
                        "content": "Block banner 2",
                        "info": "Position:4"
                    },

                    {
                        "type": "image_picker",
                        "id": "bingomenu_banner_3",
                        "label": "Banner image"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_banner_link_3",
                        "label": "Banner link"
                    },

                    {
                        "type": "image_picker",
                        "id": "bingomenu_banner_4", 
                        "label": "Banner image"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_banner_link_4",
                        "label": "Banner link"
                    },

        {
            "type": "header",
            "content": "MEGAMENU WITHOUT BANNER"
        },

                    {
                        "type": "checkbox",
                        "id": "bingomenu_menu_without_banner_enable",
                        "label": "Enable menu without banner"
                    },
                    
                    {
                        "type": "link_list",
                        "id": "bingomenu_linklist_cols",
                        "label": "Menu col"
                    },
        {
            "type": "header",
            "content": "MEGAMENU BRANDS"
        },
                 
                    {
                        "type": "checkbox",
                        "id": "bingomenu_menu_brands_enable",
                        "label": "Enable menu with brands"
                    },
                    {
                        "type": "checkbox",
                        "id": "bingomenu_menu_brands_large_nav_enable",
                        "label": "Enable large navigation"
                    },
                     {
                        "type": "image_picker",
                        "id": "bingomenu_brands_banner",
                        "label": "Banner image"
                    },
                    
                    {
                        "type": "link_list",
                        "id": "bingomenu_brands_menu",
                        "label": "Select menu"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_brands_links_in_col",
                        "label": "Select the maximum amount of links in column"
                    }
                ]
            }
        ]
    }
{% endschema %}