{%- if section.settings.bingomenu_enable -%}
<div id="bingoMegamenu" class="bingoMegamenu">
	<nav class="menuContainer">
		<div class="menuBtnMobile hidden-lg hidden-md">
			<div id="btnMenuMobile" class="btnMenuMobile">
				<span class="fa fa-bars"></span>
			</div>
		</div>
		<ul class="nav hidden-xs hidden-sm">
			{%- for bingoLink in linklists[section.settings.bingomenu_linklist].links -%}
				{%- assign linkHandle = bingoLink.title | handleize -%}
				{%- assign isMega = false -%}
				{%- for block in section.blocks -%}
                    {%- assign menuItem = bingoLink.title -%}
                    {%- if block.settings.bingomenu_item contains menuItem -%}
          				{%- include 'bingo-megamenu' -%}
                    	{%- assign isMega = true -%}
          				{%- break -%}
                    {%- endif -%}
                {%- endfor -%}
                {%- if isMega == false -%}
            		{%- if linklists[linkHandle].links != blank -%}
						{% comment %}====== MENU DROPDOWN LEVEL I ======{% endcomment %}
						<li class="hasMenuDropdown{% if bingoLink.active %} active{% endif %}">
							<a href="{{ bingoLink.url }}" title="">{{ bingoLink.title }}</a>
							<ul class="menuDropdown">
								{%- for bingoLink1 in linklists[linkHandle].links -%}
									{%- assign linkHandle = bingoLink1.title | handleize -%}
									{%- if linklists[linkHandle].links != blank -%}
										{% comment %}====== MENU DROPDOWN LEVEL II ======{% endcomment %}
										<li class="hasMenuDropdown{% if bingoLink1.active %} active{% endif %}">
											<a href="{{ bingoLink1.url }}" title="">{{ bingoLink1.title }}</a>
											<ul class="menuDropdown">
												{%- for bingoLink2 in linklists[linkHandle].links -%}
													{%- assign linkHandle = bingoLink2.title | handleize -%}
													{%- if linklists[linkHandle].links != blank -%}
														{% comment %}====== MENU DROPDOWN LEVEL III ======{% endcomment %}
														<li class="hasMenuDropdown{% if bingoLink2.active %} active{% endif %}">
															<a href="{{ bingoLink2.url }}" title="">{{ bingoLink2.title }}</a>
															<ul class="menuDropdown">
																{%- for bingoLink3 in linklists[linkHandle].links -%}
																	<li class="{% if bingoLink3.active %}active{% endif %}">
																		<a href="{{ bingoLink3.url }}" title="">{{ bingoLink3.title }}</a>
																	</li>
																{%- endfor -%}
															</ul>
														</li>
													{%- else -%}
														<li class="{% if bingoLink2.active %}active{% endif %}">
															<a href="{{ bingoLink2.url }}" title="">{{ bingoLink2.title }}</a>
														</li>
													{%- endif -%}
												{%- endfor -%}
											</ul>
										</li>
									{%- else -%}
										<li class="{% if bingoLink1.active %}active{% endif %}">
											<a href="{{ bingoLink1.url }}" title="">{{ bingoLink1.title }}</a>
										</li>
									{%- endif -%}
								{%- endfor -%}
							</ul>
						</li>
					{%- else -%}
						<li class="{% if bingoLink.active %}active{% endif %}">
							<a href="{{ bingoLink.url }}" title="">{{ bingoLink.title }}</a>
						</li>
					{%- endif -%}
				{%- endif -%}
			{%- endfor -%}
		</ul>
	</nav>
</div>
{%- endif -%}
{%- if section.settings.bingomenu_enable -%}
	{% include 'bingo-menu-mobile' %}
{%- endif -%}
{% schema %}
    {
        "name": "Megamenu",
      	"max_blocks": 4,
      	"settings": [
            {
                "type": "checkbox",
                "id": "bingomenu_enable",
                "label": "Enable menu",
                "info": "Acitve bingo Menu"
            },
            {
                "type": "link_list",
                "id": "bingomenu_linklist",
                "label": "Menu",
                "default": "main-menu"
            },
            {
                "type": "text",
                "id": "bingomenu_menumobile_title",
                "label": "Menu mobile title",
                "placeholder": "Menu Mobile Title",
                "default": "Menu Mobile"
            }
		],
        "blocks": [
            {
                "type": "text",
                "name": "Megamenu Item",
                "settings": [
					{
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "placeholder": "Title"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_item",
                        "label": "Menu item name",
                        "info": "Menu item of main-menu. Menu item has dropdown megamenu."
                    },
                    {
                        "type": "header",
                        "content": "Block navigation",
                        "info": "Admin -> Navigation -> Menu. Position:1"
                    },
                    {
                        "type": "checkbox",
                        "id": "bingomenu_menu_enable",
                        "label": "Enable navigation"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_menu_col",
                        "label": "Class for block",
                        "info": "Ex: 'col-sm-3'. The width of the block is 25%"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_menu_menucol",
                        "label": "Class for each menu",
                        "info": "Ex: 'col-sm-3'. The width of the block is 25%"
                    },
                    {
                        "type": "header",
                        "content": "Block products",
                        "info": "Position:2"
                    },
                    {
                        "type": "checkbox",
                        "id": "bingomenu_product_enable",
                        "label": "Enable products"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_product_col",
                        "label": "Class for block",
                        "info": "Ex: 'col-sm-3'. The width of the block is 25%"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_product_title",
                        "label": "Block title"
                    },
                    {
                        "type": "collection",
                        "id": "bingomenu_product_collection",
                        "label": "Collection"
                    },
                    {
                        "type": "select",
                        "id": "bingomenu_product_limit",
                        "label": "Number of products",
                        "default": "3",
                        "options": [
                            {
                                "value": "1",
                                "label": "1"
                            },
                            {
                                "value": "2",
                                "label": "2"
                            },
                            {
                                "value": "3",
                                "label": "3"
                            },
                            {
                                "value": "4",
                                "label": "4"
                            }
                        ]
                    },
                    {
                        "type": "header",
                        "content": "Block html",
                        "info": "Position:3"
                    },
                    {
                        "type": "checkbox",
                        "id": "bingomenu_html_enable",
                        "label": "Enable html"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_html_col",
                        "label": "Class for block",
                        "info": "Ex: 'col-sm-3'. The width of the block is 25%"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_html_title",
                        "label": "Block title"
                    },
                    {
                        "type": "textarea",
                        "id": "bingomenu_html_content",
                        "label": "Content HTML",
                        "info": "You can input HTML code, img tag, video code, ..."
                    },
                    {
                        "type": "header",
                        "content": "Block banner",
                        "info": "Position:4"
                    },
                    {
                        "type": "checkbox",
                        "id": "bingomenu_banner_enable",
                        "label": "Enable banner"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_banner_col",
                        "label": "Class for block",
                        "info": "Ex: 'col-sm-3'. The width of the block is 25%"
                    },
                    {
                        "type": "text",
                        "id": "image_size",
                        "label": "Image size",
                        "default": "255x300",
                        "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
                    },
                    {
                        "type": "image_picker",
                        "id": "bingomenu_banner",
                        "label": "Banner image"
                    },
                    {
                        "type": "text",
                        "id": "bingomenu_banner_link",
                        "label": "Banner link"
                    }
                ]
            }
        ]
    }
{% endschema %}
