{%- assign blogTemplate = section.settings.blog_template -%}
{%- assign sidebarTemplate = section.settings.sidebar_template -%}
{%- assign postLimit = section.settings.post_limit | plus:0 -%}
{% if section.settings.image_size != blank %}
    {%- assign postImageSize = section.settings.image_size -%}
{% else %}
    {%- assign postImageSize = 'master' -%}
{% endif %}
{% if section.settings.post_columns == "2" %}
    {%- assign postColumn = "col-sp-12 col-xs-6" -%}
{% elsif section.settings.post_columns == "3" %}
    {%- assign postColumn = "col-sp-12 col-xs-6 col-md-4" -%}
{% elsif section.settings.post_columns == "4" %}
    {%- assign postColumn = "col-sp-12 col-xs-6 col-md-4 col-lg-3" -%}
{% endif %}
<div class="row">
    {% if sidebarTemplate == 'sidebarleft' %}
        <aside class="bingoBlogSidebar col-xs-12 col-sm-4 col-md-3">
            {% include 'bingo-blogsidebar' %}
        </aside>
    {% endif %}
    {% if sidebarTemplate == 'sidebarnone' %}
        {%- assign blogColumn = 'col-xs-12' -%}
    {% else %}
        {%- assign blogColumn = 'col-xs-12 col-sm-8 col-md-9' -%}
    {% endif %}
    <div class="{{ blogColumn }}">
        <div class="blogContainer">
            {% if current_tags %}
                <h1 class="bingoBlogTitle">{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}</h1>
            {% else %}
                <h1 class="bingoBlogTitle">{{ blog.title }}</h1>
            {% endif %}
            {% if blogTemplate == 'bloggrid' %}
                <div class="blogListArticle blogGridTemplate">
                    {% paginate blog.articles by postLimit %}
                        <div class="bingoFlexRow flexRow">
                            {% for article in blog.articles %}
                                <div class="{{ postColumn }}">
                                    <div class="blogArticle">
                                        <h3 class="articleTitle"><a href="{{ article.url }}">{{ article.title }}</a></h3>
                                        <div class="metaArticle">
                                            <div class="metaAuthor">
                                                <span>{{ 'blogs.article.by' | t }}</span>
                                                <strong>{{ article.author }}</strong>
                                            </div>
                                            <div class="metaDay">
                                                <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%d %B, %Y' }}</time>
                                            </div>
                                        </div>
                                        {% if article.image %}
                                            <div class="articleImage">
                                                <a href="{{ article.url }}">
                                                    <img class="img-responsive" src="{{ article.image | img_url: postImageSize }}" alt="{{ article.title }}" />
                                                </a>
                                            </div>
                                        {% endif %}
                                        {% comment %}
                                            <div class="rte">
                                                {% if article.excerpt.size > 0 %}
                                                    {{ article.excerpt }}
                                                {% else %}
                                                    <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
                                                {% endif %}
                                            </div>
                                            {% include 'bingo-article-tags' %}
                                            <div><a class="articleBtnMore" href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a></div>
                                        {% endcomment %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% if paginate.pages > 1 %}
                            {% include 'bingo-pagination' %}
                        {% endif %}
                    {% endpaginate %}
                </div>
            {% else %}
                <div class="blogListArticle blogListTemplate">
                    {% paginate blog.articles by postLimit %}
                        {% for article in blog.articles %}
                            <div class="blogArticle">
                                <div class="articleWrapper">
                                    {% if article.image %}
                                        <div class="articleImage">
                                            <a href="{{ article.url }}">
                                                <img class="img-responsive" src="{{ article.image | img_url: postImageSize }}" alt="{{ article.title }}" />
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div class="articleContent">
                                        <h3 class="articleTitle"><a href="{{ article.url }}">{{ article.title }}</a></h3>
                                        <div class="rte">
                                            {% if article.excerpt.size > 0 %}
                                                {{ article.excerpt }}
                                            {% else %}
                                                <p>{{ article.content | strip_html | truncatewords: 40 }}</p>
                                            {% endif %}
                                        </div>
                                        <div class="metaArticle">
                                            <div class="metaAuthor">
                                                <span>{{ 'blogs.article.by' | t }}</span>
                                                <strong>{{ article.author }}</strong>
                                            </div>
                                            <div class="metaDay">
                                                <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%d %B, %Y' }}</time>
                                            </div>
                                        </div>
                                    </div>
                                    {% comment %}
                                        {% include 'bingo-article-tags' %}
                                        <div><a class="articleBtnMore" href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a></div>
                                    {% endcomment %}
                                </div>
                            </div>
                        {% endfor %}
                        {% if paginate.pages > 1 %}
                            {% include 'bingo-pagination' %}
                        {% endif %}
                    {% endpaginate %}
                </div>
            {% endif %}
        </div>
    </div>
    {% if sidebarTemplate == 'sidebarright' %}
        <aside class="bingoBlogSidebar col-xs-12 col-sm-4 col-md-3">
            {% include 'bingo-blogsidebar' %}
        </aside>
    {% endif %}
</div>
{% schema %}
    {
        "name": "Bingo Blog",
        "settings": [
            {
                "type": "header",
                "content": "Blog Settings"
            },
            {
                "type": "select",
                "id": "blog_template",
                "label": "Blog template",
                "default": "bloggrid",
                "options": [
                    {
                        "label": "Blog Grid",
                        "value": "bloggrid"
                    },
                    {
                        "label": "Blog Listing",
                        "value": "bloglist"
                    }
                ]
            },
            {
                "type": "select",
                "id": "post_columns",
                "label": "Column of posts",
                "default": "2",
                "options": [
                    {
                        "label": "2",
                        "value": "2"
                    },
                    {
                        "label": "3",
                        "value": "3"
                    },
                    {
                        "label": "4",
                        "value": "4"
                    }
                ],
                "info": "Only applies for Blog Grid"
            },
            {
                "type": "select",
                "id": "sidebar_template",
                "label": "Sidebar template",
                "default": "sidebarright",
                "options": [
                    {
                        "label": "No Sidebar",
                        "value": "sidebarnone"
                    },
                    {
                        "label": "Sidebar Right",
                        "value": "sidebarright"
                    },
                    {
                        "label": "Sidebar Left",
                        "value": "sidebarleft"
                    }
                ]
            },
            {
                "type": "text",
                "id": "post_limit",
                "label": "Number of posts in a page",
                "default": "12"
            },
            {
                "type": "text",
                "id": "image_size",
                "label": "Blog image size",
                "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
            },
			{
                "type": "header",
                "content": "Blog Sidebar Recent Articles"
            },
            {
                "type": "checkbox",
                "id": "blogsidebar_recentarticles_enable",
                "label": "Enable recent articles",
				"default": true
            },
            {
                "type": "text",
                "id": "blogsidebar_recentarticles_title",
                "placeholder": "Title for block",
                "label": "Block title",
				"default": "Recent Articles"
            },
            {
                "type": "text",
                "id": "blogsidebar_recentarticles_limit",
                "placeholder": "Ex: 6",
                "label": "Number of article limit",
                "default": "6"
            },
			{
                "type": "header",
                "content": "Blog Sidebar Banner"
            },
            {
                "type": "checkbox",
                "id": "blog_banner_enable",
                "label": "Enable banner",
				"default": true
            },
            {
                "type": "text",
                "id": "blog_banner_size",
                "label": "Image size",
                "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)",
				"default": "270x270"
            },
            {
                "type": "text",
                "id": "blog_banner_link",
                "label": "Banner link"
            },
            {
                "type": "image_picker",
                "id": "blog_sidebar_image",
                "label": "Banner image"
            },
            {
                "type": "header",
                "content": "Blog Sidebar Tags"
            },
            {
                "type": "checkbox",
                "id": "blogsidebar_tags_enable",
                "label": "Enable tags list",
				"default": true
            },
            {
                "type": "text",
                "id": "blogsidebar_tags_title",
                "placeholder": "Title for block",
                "label": "Block title",
				"default": "Articles Tags"
            },
            {
                "type": "text",
                "id": "blogsidebar_tags_limit",
                "placeholder": "Ex: 6",
                "label": "Number of tags limit",
                "default": "10"
            }
        ]
    }
{% endschema %}