<div class="homeInstagram">
    <div class="container">
        <div class="bingoInstagram">
            <h4 class="bingoHomeTitle">{{ section.settings.title }}</h4>
            <div class="bingoContent">
                <div id="bingoIns{{ section.id }}" class="boxInstagram" 
                     data-id="bingoIns{{ section.id }}"
                     data-userid="{{ section.settings.userid }}"
                     data-accesstoken="{{ section.settings.accessToken }}"
                     data-limit="{{ section.settings.limited }}"
                     data-resolution="{{ section.settings.resolution }}">
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Bingo Instagram",
        "class": "bingoFramework",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "placeholder": "Title for Block",
                "label": "Title"
            },
            {
                "type": "text",
                "id": "userid",
                "label": "User Id (*)",
                "placeholder": "User Id",
                "default": "2292239002",
                "info": "[Where do I find User ID?](https:\/\/smashballoon.com\/instagram-feed\/find-instagram-user-id\/)"
            },
            {
                "type": "text",
                "id": "accessToken",
                "label": "Access Token (*)",
                "placeholder": "Access Token",
                "default": "2292239002.1677ed0.d568bd3c5e5c4040a7557ecddad4c985",
                "info": "[Where do I find Access Token?](http:\/\/instagram.pixelunion.net\/)"
            },
            {
                "type": "text",
                "id": "limited",
                "placeholder": "Ex:8",
                "label": "Limit The Number of Images",
                "default": "8"
            },
            {
                "type": "select",
                "id": "resolution",
                "label": "Resolution of images",
                "options": [
                    {
                        "value": "thumbnail",
                        "label": "Thumbnail (150x150)"
                    },
                    {
                        "value": "low_resolution",
                        "label": "Low Resolution (320x320)"
                    },
                    {
                        "value": "standard_resolution",
                        "label": "Standard Resolution (640x640)"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Bingo Instagram",
                "category": "4. Bingo Image"
            }
        ]
    }
{% endschema %}