{%- assign owlColumn1 = section.settings.column1 | plus:0 -%}
{%- assign owlColumn2 = section.settings.column2 | plus:0 -%}
{%- assign owlColumn3 = section.settings.column3 | plus:0 -%}
{%- assign owlColumn4 = section.settings.column4 | plus:0 -%}
{%- assign owlColumn5 = section.settings.column5 | plus:0 -%}
{%- assign blogLimit = section.settings.limit | plus:0 -%}
{%- assign blogImageSize = section.settings.image_size -%}
{%- assign blogName = section.settings.blog_handle -%}
<div class="blogsListCarousel">
    <div class="container">
        <div class="blogCarousel">
            {% if section.settings.title != blank %}
                <h3 class="bingoHomeTitle">{{ section.settings.title }}</h3>
            {% endif %}
            <div class="bingoContent">
                <div class="bingoOwlRow owlCarouselPlay">
                    <div class="owl-carousel"   data-nav="{{ section.settings.navigation }}" 
                                                data-autoplay="{{ section.settings.autoplay }}" 
                                                data-autospeed="{{ section.settings.autoplay_speed }}" 
                                                data-speed="{{ section.settings.speed }}" 
                                                data-columnone="{{ owlColumn1 }}" 
                                                data-columntwo="{{ owlColumn2 }}" 
                                                data-columnthree="{{ owlColumn3 }}" 
                                                data-columnfour="{{ owlColumn4 }}" 
                                                data-columnfive="{{ owlColumn5 }}">
                        {% for article in blogs[blogName].articles limit:blogLimit %}
                            <div class="blogArticle bingoArticleItem">
                                {% if section.settings.image_featured %}
                                    {% if article.image %}
                                        <div class="articleImage">
                                            <img class="img-responsive" src="{{ article.image | img_url: blogImageSize }}" alt="{{ article.title }}" />
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <div class="articleItemContent">
                                    <div class="articleMeta">
                                        <span>{{ article.published_at | date:'%d' }}</span>
                                        <span>{{ article.published_at | date:'%B' }}</span>
                                    </div>
                                    <h3 class="articleTitle"><a href="{{ article.url }}">{{ article.title }}</a></h3>
                                    <div class="articleDesc">
                                        {% if article.excerpt.size > 0 %}
                                            {{ article.excerpt }}
                                        {% else %}
                                            {{ article.content | strip_html | truncatewords: 20 }}
                                        {% endif %}
                                    </div>
                                    <div class="articleButton">
                                        <div class="articleMetaAuthor">
                                            <span>{{ 'blogs.article.by' | t }}</span>
                                            <strong>{{ article.author }}</strong>
                                        </div>
                                        <a class="articleBtnMore" href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Bingo Blogs Homepage",
        "class": "bingoFramework",
        "settings":[
            {
                "type": "header",
                "content": "General Settings"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "placeholder": "Title of section"
            },
            {
                "type": "blog",
                "id": "blog_handle",
                "label": "Blog"
            },
            {
                "type": "checkbox",
                "id": "image_featured",
                "label": "Show featured image",
                "default": true
            },
            {
                "type": "text",
                "id": "image_size",
                "label": "Featured image size",
                "default": "480x",
                "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
            },
            {
                "type": "header",
                "content": "Carousel Settings"
            },
            {
                "type": "select",
                "id": "column1",
                "label": "#Column 1",
                "default": "4",
                "info": "Large desktops",
                "options":[
                    {
                        "value": "1",
                        "label": "1"
                    },
                    {
                        "value": "2",
                        "label": "2"
                    },
                    {
                        "value": "3",
                        "label": "3"
                    },
                    {
                        "value": "4",
                        "label": "4"
                    },
                    {
                        "value": "5",
                        "label": "5"
                    }
                ]
            },
            {
                "type": "select",
                "id": "column2",
                "label": "#Column 2",
                "default": "3",
                "info": "Desktops & Tablets landscape",
                "options":[
                    {
                        "value": "1",
                        "label": "1"
                    },
                    {
                        "value": "2",
                        "label": "2"
                    },
                    {
                        "value": "3",
                        "label": "3"
                    },
                    {
                        "value": "4",
                        "label": "4"
                    },
                    {
                        "value": "5",
                        "label": "5"
                    }
                ]
            },
            {
                "type": "select",
                "id": "column3",
                "label": "#Column 3",
                "info": "Tablets",
                "default": "2",
                "options":[
                    {
                        "value": "1",
                        "label": "1"
                    },
                    {
                        "value": "2",
                        "label": "2"
                    },
                    {
                        "value": "3",
                        "label": "3"
                    },
                    {
                        "value": "4",
                        "label": "4"
                    },
                    {
                        "value": "5",
                        "label": "5"
                    }
                ]
            },
            {
                "type": "select",
                "id": "column4",
                "label": "#Column 4",
                "default": "2",
                "info": "Phones landscape",
                "options":[
                    {
                        "value": "1",
                        "label": "1"
                    },
                    {
                        "value": "2",
                        "label": "2"
                    },
                    {
                        "value": "3",
                        "label": "3"
                    },
                    {
                        "value": "4",
                        "label": "4"
                    },
                    {
                        "value": "5",
                        "label": "5"
                    }
                ]
            },
            {
                "type": "select",
                "id": "column5",
                "label": "#Column 5",
                "default": "2",
                "info": "Smartphones",
                "options":[
                    {
                        "value": "1",
                        "label": "1"
                    },
                    {
                        "value": "2",
                        "label": "2"
                    }
                ]
            },
            {
                "type": "text",
                "id": "limit",
                "label": "Limit",
                "default": "8"
            },
            {
                "type": "checkbox",
                "id": "navigation",
                "label": "Show navigation",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "autoplay",
                "label": "Auto play",
                "default": false
            },
            {
                "type": "text",
                "id": "autoplay_speed",
                "label": "Auto play speed",
                "info": "Default: 10000(ms)",
                "default": "10000"
            },
            {
                "type": "text",
                "id": "speed",
                "label": "Speed",
                "info": "Slide/Fade animation speed",
                "default": "300"
            }
        ],
        "presets": [
            {
                "name": "Bingo Blogs",
                "category": "3. Bingo Blog",
                "settings": {
                    "title": "Blogs on Homepage",
                    "blog_handle": "news"
                }
            }
        ]
    }
{% endschema %}