<div class="newsletterHome">
    <div class="container">
        <div class="bingoNewsletterWrap"
        style="
        {% if section.settings.bgcolor != blank %}
            background-color: {{ section.settings.bgcolor }};
        {% endif %}
        {% if section.settings.bgimage != blank %}
            background-image: url({{ section.settings.bgimage | img_url: 'master' }});
        {% endif %}
        ">
            <h3 class="newsletterTitle">{{ section.settings.title }}</h3>
            <div class="bingoContent">
                {% if section.settings.description != blank %}
                    <div class="newsletterDescription">{{ section.settings.description }}</div>
                {% endif %}
                {% if section.settings.mailchimp %}
                    {% assign form_action = section.settings.form_action %}
                    {% comment %} 
                        --- original form
                        <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="formNewsletter clearfix">
                            <div class="form-group">
                                <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="form-control" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
                                <button id="subscribe" class="btn btnNewsletter" type="submit"  style="background-color: {{ section.settings.newsBtnColor }}">
                                    <i class="pe-7s-paper-plane"></i>
                                    <span>{{ 'general.newsletter_form.submit' | t }}</span>
                                </button>
                            </div>
                        </form> 
                    {% endcomment %}

                <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                    .newsletterTitle {
                        font-weight: 700;
                        font-size: 60px;
                        color: #000;
                    }

                    #mc_embed_signup .mc-field-group {
                        width: 100%;
                    }
                    #mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; margin: 0 auto; }
                    #mc_embed_signup #mc-embedded-subscribe.newsletter-subscribe-btn { 
                        font-family: Quicksand, sans-serif; 
                        font-weight:700; 
                        text-transform:uppercase; 
                        height: auto; 
                        padding: 5px 40px 4px 40px; 
                    }
                    #mc_embed_signup .mc-field-group input.email{ padding:17px 0 17px 10px; border:none;border-radius:2px;}
                    #mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error { border:none; }
                    #mc_embed_signup .mc-field-group input::-webkit-input-placeholder {
                        font-family: Quicksand, sans-serif;
                        color:#aaa;
                        font-size:12px;
                        letter-spacing:.07em;
                    }
                    #mc_embed_signup .mc-field-group input:-moz-placeholder { 
                        font-family: Quicksand, sans-serif;
                        color:#aaa;
                        font-size:12px;
                        letter-spacing:.07em;
                    }
                    #mc_embed_signup .mc-field-group input::-moz-placeholder { 
                        font-family: Quicksand, sans-serif;
                        color:#aaa;
                        font-size:12px;
                        letter-spacing:.07em;
                    }
                    #mc_embed_signup .mc-field-group input:-ms-input-placeholder { 
                        font-family: Quicksand, sans-serif;
                        color:#aaa;
                        font-size:12px;
                        letter-spacing:.07em;
                    }
                    #mc_embed_signup .mc-field-group input::-ms-input-placeholder {
                        font-family: Quicksand, sans-serif;
                        color:#aaa;
                        font-size:12px;
                        letter-spacing:.07em;
                    }
                    #mc_embed_signup .mc-field-group input::placeholder { 
                       font-family: Quicksand, sans-serif;
                       color:#aaa;
                       font-size:12px;
                       letter-spacing:.07em;
                    }

                        .email::-webkit-input-placeholder { 
                            font-size: 14px;
                        }
                        .email::-moz-placeholder { 
                            font-size: 14px;
                        }
                        .email:-ms-input-placeholder { 
                            font-size: 14px;
                        }
                        .email:-moz-placeholder { 
                            font-size: 14px;
                        }

                    #mc_embed_signup div#mce-responses { padding: 0; margin: 0; width:100%; }
                    #mc_embed_signup div.response, #mc_embed_signup div.response { margin-top: 0; width:100%; padding-top: 0; font-family: Quicksand, sans-serif; font-weight:500; text-align:center; }
                    #mc_embed_signup #mce-success-response { color: #a864a8; }
                    #mc_embed_signup #mce-error-response a { display: none; }
                    #mc_embed_signup #mce-error-response{ color: #F44336; }
                   
                   #mc_embed_signup .signup-text-bottom {
                            font-size:13px;display:block;
                            text-align:center;
                            font-family:'Open Sans', sans-serif;
                            padding-top:20px;
                    }

                    @media screen and (max-width: 479px) {
                        #mc_embed_signup .signup-text-bottom { 
                            color: #757575;
                            font-size: 12px;
                            padding-top: 0;
                        }	

                        .bingoNewsletterWrap .newsletterTitle {
                            font-size: 32px;
                        }
                        
                        .bingoNewsletterWrap .newsletterTitle {
                            font-size: 28px;
                        }
                    }
                </style>
                <div id="mc_embed_signup">
                    <form action="https://shopsophea.us17.list-manage.com/subscribe/post?u=41b23019cb8a3a0e9ed0ed62f&amp;id=67fdfda5db" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" style="max-width: 380px;margin: 0 auto;">
                    <div class="mc-field-group">
                        <input  style="border:1px solid #d3d3d3;"  type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" 
                        placeholder="Your E-mail address">
                    </div>
                        
                    <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>   
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_41b23019cb8a3a0e9ed0ed62f_67fdfda5db" tabindex="-1" value="">
                        </div>
                        <div class="clear text-center">
                            <input type="submit" 
                                value="Subscribe" 
                                name="subscribe" 
                                id="mc-embedded-subscribe" 
                                class="button newsletter-subscribe-btn" style="width: 100%;background-color: #353535;"></div>
                        </div>
                        <small class="signup-text-bottom">We have a strict No Spam policy and promise to only update you on the good stuff.</small>
                    </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='BIRTHDAY';ftypes[3]='birthday';fnames[4]='COMPANY';ftypes[4]='text';fnames[5]='ADDRESS';ftypes[5]='address';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->

                {% else %}
                    {% form 'customer' %}
              			{% if form.posted_successfully? %}
                        <script type="text/javascript">
                          	$(document).ready(function() {
                                // $('#newsletterAlert').modal();
                            });
                		</script>
              			{% endif %}
                        <div class="form-group">
                            <input class="form-control" id="newsletter-input" type="email" name="contact[email]" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}">
                            <button class="btn btnNewsletter" type="submit">
                                <span>{{ 'general.newsletter_form.submit' | t }}</span>
                            </button>
                            <input type="hidden" name="action" value="0">
                        </div>
                    {% endform %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Bingo Newsletter",
        "class": "bingoFramework",
        "settings": [
            {
                "type": "color",
                "id": "bgcolor",
                "label": "Background color",
                "default": "#f9b61e"
            },

            {
                "type" : "color",
                "id" : "newsBtnColor",
                "label" : "Button color"
            },

            {
                "type": "image_picker",
                "id": "bgimage",
                "label": "Background image",
                "info": "Default size: 1170x414 pixels"
            },
            {
                "type": "text",
                "id": "title",
                "placeholder": "Title for block",
                "label": "Title"
            },
            {
                "type": "textarea",
                "id": "description",
                "placeholder": "Description for block",
                "label": "Description"
            },
            {
                "type": "checkbox",
                "id": "mailchimp",
                "label": "Use mailChimp",
                "default": true
            },
            {
                "type": "paragraph",
                "content": "Uncheck if You use Newsletter of Shopify. Email will be saved to shopify customer. Admin -> Customers -> Accepts Marketting. You must send invite account for customer."
            },
            {
                "type": "text",
                "id": "form_action",
                "label": "MailChimp form action URL",
                "info": "[Where do I find my MailChimp form action URL?](http:\/\/docs.shopify.com\/support\/configuration\/store-customization\/where-do-i-get-my-mailchimp-form-action)"
            }
        ],
        "presets": [
            {
                "name": "Bingo Newsletter",
                "category": "5. Bingo Newsletter",
				"settings": {
					"title": "Bingo Newsletter"
				}
            }
        ]
	}
{% endschema %}