{%- if section.settings.sidebar_banner_enable -%}
    <div class="binBlockSidebar bingoBannerSidebar">
        <div class="bingoContent">
            <div class="bingoBanner">
                <div class="{{ section.settings.effect }}">
                    {%- if section.settings.link != blank -%}
                        <a href="{{ section.settings.link }}" title="{{ section.settings.image.alt | default: shop.name }}">
                    {%- endif -%}
                        {%- if section.settings.image != blank -%}
                            <img class="img-responsive" alt="{{ section.settings.image.alt | default: shop.name }}" src="{{ section.settings.image | img_url: section.settings.image_size }}" />
                        {%- else -%}
                            <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/{{ section.settings.image_size }}" />
                        {%- endif -%}
                    {%- if section.settings.link != blank -%}
                        </a>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
{%- endif -%}
{%- if section.settings.sidebar_product_enable -%}
    {%- assign itemLimit = section.settings.sidebar_product_limit | plus:0 -%}
    {%- assign itemCollection = section.settings.sidebar_product_collection -%}
    <div class="binBlockSidebar bingoProductsSidebar">
        <h4 class="titleSidebar">
            {{ section.settings.sidebar_product_title }}
        </h4>
        <div class="bingoContent">

                    {%- for product in collection.products limit:itemLimit -%}
                        {% include 'bold-product' with product, hide_action: 'skip' %}

                            {%- assign proImageSize = '30px' -%}
                            {%- assign on_sale = false -%}
                            {%- if product.compare_at_price > product.price -%}
                                {%- assign on_sale = true -%}
                            {%- endif -%}
                            {%- assign sold_out = true -%}
                            {%- if product.available -%}
                                {%- assign sold_out = false -%}
                            {%- endif -%}
                            <div class="bingoProBlock">
                                <div class="proHImage">
                                    <a style="margin-right:1.5rem" class="proFeaturedImage" href="{{ product.url }}">
                                        <img class="img-responsive" alt="{{ product.featured_image.alt | escape }}" src="{{ product.featured_image | product_img_url:proImageSize }}" />
                                    </a>
                                </div>
                                <div class="proContent">
                                    <h5 class="proName"><a style="font-size:12px;line-height:17px" href="{{ product.url }}">{{ product.title }}</a></h5>
                                    <div class="proPrice">
                                        <div class="priceProduct priceSale">{{ product.price | money }}</div>
                                        {%- if on_sale -%}
                                            <div class="priceProduct priceCompare">{{ product.compare_at_price | money }}</div>
                                        {%- endif -%}
                                    </div>
                                </div>
                            </div>
                    {%- endfor -%}
        </div>
    </div>
{%- endif -%}
{% schema %}
    {
        "name": "Sidebar Bottom",
        "settings": [
            {
                "type": "header",
                "content": "Sidebar Banner"
            },
            {
                "type": "checkbox",
                "id": "sidebar_banner_enable",
                "label": "Enable banner sidebar"
            },
            {
                "type": "text",
                "id": "image_size",
                "label": "Image size",
                "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
            },
            {
                "type": "text",
                "id": "link",
                "label": "Image link"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Banner image"
            },
            {
                "type": "select",
                "id": "effect",
                "label": "Effect",
                "default": "effectOne",
                "options": [
                    {
                        "value": "effectNone",
                        "label": "None"
                    },
                    {
                        "value": "effectOne",
                        "label": "Effect one"
                    },
                    {
                        "value": "effectTwo",
                        "label": "Effect two"
                    }
                ]
            },
            {
                "type": "header",
                "content": "Sidebar Products"
            },
            {
                "type": "checkbox",
                "id": "sidebar_product_enable",
                "label": "Enable product sidebar"
            },
            {
                "type": "text",
                "id": "sidebar_product_title",
                "label": "Title",
                "placeholder": "Box title"
            },
            {
                "type": "collection",
                "id": "sidebar_product_collection",
                "label": "Collection"
            },
            {
                "type": "text",
                "id": "sidebar_product_limit",
                "label": "Product Limit",
                "placeholder": "Example:4",
                "default": "4"
            }
        ]
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}