{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="container">
	    <div class="pageContainer wishlisthContainer">
	    	<h1 class="bingoPageTitle">{{ page.title }}</h1>
	    	<div class="bingoContent">
	    		{%- if customer -%}
	    			<div class="wishlistList">
	  					<div class="bingoFlexRow flexRow">
							{%- assign wish_list_active = false -%}
  							{% for tag in customer.tags %}
  								{% assign the_test = 'nutthin' %}
									{% capture tag_id %}{{ tag }}{% endcapture %}
  								{% assign tag_size = tag_id.size %}
									{% for tag in customer.tags %}
    								{% capture cur_tag %}{{ tag }}{% endcapture %}
    								{% if cur_tag contains tag_id %}
  										{% assign difference = tag_size | minus:cur_tag.size %}
      									{% if difference == 0 %}
        									{% assign the_test = tag_id %}
      									{% else %}
        									{% assign the_test = 'nutthin' %}
      									{% endif %}
									{% endif %}
  								{% endfor %}
  								{% for collection in collections %}
    								{% paginate collection.products by collection.all_products_count %}
          								{% for product in collection.products %}
										  {% include 'bold-product' with product, hide_action: 'skip' %}

            								{% for variant in product.variants %}
      											{% capture variant_id %}{{ variant.id }}{% endcapture %}
              									{% unless used contains variant_id %}
            										{% capture diff %}{{ tag_size | minus:variant_id.size | money_without_currency | times:100 | divided_by:2 }}{% endcapture %}
                									{% assign check = diff | split:'.' %}
            										{% if check[1] contains '5' %}{% assign display = false %}{% else %}{% assign display = true %}{% endif %}
                									{% if display and the_test contains variant_id %}
	      												{% assign on_sale = false %}
														{% if product.compare_at_price > product.price %}
														    {% assign on_sale = true %}
														{% endif %}
														{% assign sold_out = true %}
														{%- if product.available -%}
														    {%- assign sold_out = false -%}
														{%- endif -%}
														{%- assign proImageSize = '360x' -%}
														{%- assign wish_list_active = true -%}
														<div class="col-xs-12 col-sm-6 col-md-3">
		      												<div class="row-{{tag_id}} product-item" id="x{{ tag_id }}">
		      													<div class="bingoProBlock">
																    <div class="proHImage">
																        <a class="proFeaturedImage" href="{{ product.url }}">
																            <img class="img-responsive" alt="{{ product.featured_image.alt | escape }}" src="{{ product.featured_image | product_img_url:proImageSize }}" />
																            {% if product.images.size > 1 and settings.product_second_image %}
																                <span class="hidden-sm hidden-xs">
																                    {% for image in product.images %}
																                        {% if forloop.first != true %}
																                            <img class="img-responsive" alt="{{ image.alt }}" src="{{ image.src | product_img_url:proImageSize }}">
																                            {% break %}
																                        {% endif %}
																                    {% endfor %}
																                </span>
																            {% endif %}
																        </a>
																        {% if on_sale %}
																            <span class="labelSale">{{ 'products.product.label_sale' | t }}</span>
																        {% endif %}
																    </div>
																    <div class="proContent">
																        <h5 class="proName">
																            <a href="{{ product.url }}">{{ product.title }}</a>
																        </h5>
																        {%- if showReview -%}
																            {%- if settings.product_reviews_enable -%}
																                <div class="proReviews">
																                    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
																                </div>
																            {%- endif -%}
																        {%- endif -%}
																        <div class="proPrice">
																            <div class="priceProduct priceSale">{{ product.price | money }}</div>
																            {% if on_sale %}
																                <div class="priceProduct priceCompare">{{ product.compare_at_price | money }}</div>
																            {% endif %}
																        </div>
																        <div class="proButton">
																            {%- assign variantCount = product.variants | size -%}
																            <form action="/cart/add" method="post" enctype="multipart/form-data" class="formAddToCart">
																                <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
																                {% if sold_out %}
																                    <button class="btn btnAddToCart disabled" type="submit" value="Submit" disabled>
																                        <i class="icofont icofont-cart-alt"></i>
																                        <span>{{ 'products.product.sold_out' | t }}</span>
																                    </button>
																                {% else %}
																                    {% if variantCount > 1 %}
																                        <a class="btn btnAddToCart" href="{{ product.url }}" title="{{ 'products.product.select_options' | t }}">
																                            <i class="icofont icofont-cart-alt"></i>
																                            <span class="select_options">{{ 'products.product.select_options' | t }}</span>
																                        </a>
																                    {% else %}
																                        <button class="btn btnAddToCart" type="submit" value="Submit">
																                            <i class="icofont icofont-cart-alt"></i>
																                            <span>{{ 'products.product.add_to_cart' | t }}</span>
																                        </button>
																                    {% endif %}
																                {% endif %}
																            </form>
																        </div>
																    </div>
																</div>
																<div class="boxRemoveWishlist">
																	<form method='post' action='/contact' accept-charset='UTF-8'>
																		<input name='form_type' type='hidden' value='customer'/>
																	    <input name='utf8' type='hidden' value='✓'>
																	    <input type='hidden' name='contact[email]' value='{{ customer.email }}'/>
																	    <input type='hidden' name='contact[tags]' id='remove-value' value='x{{ tag_id }}' />
																	    <button type="submit" class="btnRemoveWishlist">{{ 'cart.general.remove' | t }}</button>
																	</form>
																</div>
		      												</div>
	      												</div>
	      												{% capture used %}{{ variant_id }} {{ used }}{% endcapture %}
                									{% endif %}
              									{% endunless %}
            								{% endfor %}
          								{% endfor %}
        							{% endpaginate %}
      							{% endfor %}
    						{% endfor %}
    					</div>
  					</div>
					{%- capture subject -%}My%20{{ shop.name | replace: ' ','%20' }}%20Wish%20List{%- endcapture -%}
					{%- capture body -%}{{ body }}
						{% for tag in customer.tags %}
							{%- assign the_test = 'nutthin' -%}
							{%- capture tag_id -%}{{ tag }}{%- endcapture -%}
							{%- assign tag_count = 0 -%}{%- assign tag_size = tag_id | size -%}
							{% for tag in customer.tags %}
								{%- capture cur_tag -%}{{ tag }}{%- endcapture -%}
								{%- if cur_tag contains tag_id -%}
									{%- assign cur_tag_size = cur_tag | size -%}
									{%- assign difference = tag_size | minus: cur_tag_size -%}
									{%- if difference == 0 -%}
										{%- assign the_test = tag_id -%}
									{%- else -%}
										{%- assign the_test = 'nutthin' -%}
	  								{%- endif -%}
	  							{%- endif -%}
							{% endfor %}
							{%- assign listID = '' -%}
	  						{% for collection in collections %}
	  							{% for p in collection.products %}
	    							{%- capture pID -%}{{ p.id }}{%- endcapture -%}
									{%- capture difference -%}{{ tag_size | minus:pID.size | money_without_currency | times:100 | divided_by: 2 }}{%- endcapture -%}
	    							{%- assign check = difference | split:'.' -%}
	    							{%- if check[1] contains '5' -%}
	            						{%- assign display = false -%}
		       						{%- else -%}
										{%- assign display = true -%}
									{%- endif -%}
		    						{%- assign listArr = listID | split: ',' -%}
									{%- if listArr contains pID -%}{%- else -%}
										{%- if display and the_test contains pID -%}%0A%0A{{ p.title | replace: ' ','%20'}}%3A%20%20{{ shop.url }}{{ p.url }}
											{%- assign listID = listID | append: ','| append: pID -%}
										{%- endif -%}
									{%- endif -%}
								{% endfor %}
							{% endfor %}
						{% endfor %}
					{% endcapture %}
					<div class="wishlistMoreInfo">
					    {%- unless wish_list_active -%}
					    	<div class="wishlistEmpty">
					    		<div class="iconNoWishlist">
					    			<img class="img-responsive" alt="No Wishlist" src="{{ 'icon_nowishlist.png' | asset_url }}" />
					    		</div>
					      		<div class="alertNoWishlist">{{ 'general.wishlist.empty' | t }}</div>
					      		<div class="alertNoWishlistSub">{{ 'general.wishlist.empty_subtext' | t }}</div>
					      		<div class="buttonBox">
					      			<a class="btn btnbingoOne btnBackShop" href="/collections/all">{{ 'general.wishlist.back_shop' | t }}</a>
					      		</div>
					      	</div>
					    {%- endunless -%}
				    </div>
			 	{%- else -%}
			 		<div class="wishlistEmpty">
			 			<div class="alert alert-warning">
						    <span>{{ 'general.wishlist.subtext' | t }}</span>
						    <a href="/account/login">{{ 'general.wishlist.sign_in' | t }}</a>
						    <span >{{ 'general.wishlist.or' | t }}</span>
					    	<a href="/account/register">{{ 'general.wishlist.create_account' | t }}</a>
					  	</div>
				  	</div>
	  			{%- endif -%}
	    	</div>
	    </div>
    </div>
</section>